extends ../layout.pug
block content
    div(class='container py-3')
        div(class='row')
            div(class='col-sm-12')
                h1 All process items
            
            if (flashMessageInfo.length > 0)
                div(class='col-sm-12 py-3')
                    div(class="alert alert-danger")= flashMessageInfo

    div(class='container py-3')
        div(class='row')
            div(class='col-sm-12')
                form(method='post' action='/admin/process-items/')
                    div(class='row')
                        div(class='col-sm-6')
                            div(class='form-group row')
                                label(for="filterInputFrom" class='col-2 col-form-label') von
                                div(class='col-10')
                                    input(class='form-control' id='filterInputFrom' name='filterInputFrom' type='date' value=filterInputFrom)
                            div(class='form-group row')
                                label(for="filterInputUntil" class='col-2 col-form-label') bis
                                div(class='col-10')
                                    input(class='form-control' id='filterInputUntil' name='filterInputUntil' type='date' value=filterInputUntil)
                        div(class='col-sm-6')
                            div(class='form-group')
                                label(for='filterInputStatus') Status
                                select(class='form-control' id='filterInputStatus' name='filterInputStatus')
                                    option(selected value) all
                                    option(selected=filterInputStatus=='open') open
                                    option(selected=filterInputStatus=='edit') edit
                                    option(selected=filterInputStatus=='submitted') submitted
                                    option(selected=filterInputStatus=='verified') verified
                                    option(selected=filterInputStatus=='rejected') rejected
                        
                    div(class='row')
                        div(class='col-sm-12')      
                            button(type='submit' class='btn btn-block btn-primary-red mb-2') Filter
    
    div(class='container-fluid py-3')
        div(class='row')
            if (processItems.length==0)
                div(class='col-sm-12')
                    p Für diese Suche wurden keine Einträge gefunden.

            each item in processItems
                include partials/process-item.pug