extends ../layout.pug
block content
    div(class='container py-3')
        div(class='row')
            div(class='col-sm-12')
                h1 Fürge einen Backlink hinzu
        
            if (flashMessageInfo.length > 0)
                div(class='col-sm-12 py-3')
                    div(class="alert alert-danger")= flashMessageInfo

        div(class='row')
            div(class='col-sm-12')
                form(method='post' action='/dashboard/edit')
                    div(class='form-group')
                        label(for='inputTargetUrl') Target Url
                        input(type='text' class=!validTargetUrl ? 'form-control' : 'form-control is-invalid' id='inputTargetUrl' name='targetUrl' value=targetUrl readonly)
                        div(class='invalid-feedback')
                            if (flashMessageTargetUrl.length > 0)
                                p= flashMessageTargetUrl

                    div(class='form-group')
                        label(for='inputBacklinkOriginUrl') Backlink Origin Url
                        input(type='text' class=!validBacklinkOriginUrl ? 'form-control' : 'form-control is-invalid' id='inputBacklinkOriginUrl' name='backlinkOriginUrl' value=backlinkOriginUrl)
                        div(class='invalid-feedback')
                            if (flashMessageBacklinkOriginUrl.length > 0)
                                p= flashMessageBacklinkOriginUrl
                          
                    button(type='submit' class='btn btn-primary-red') Weiter