div(class='col-sm-12 py-3')
    div(class='row')
        div(class='col-sm-12 fs__0_8_rem fg-primary-white')
            include process-item-status-badge.pug
            span= item._id
        div(class='col-md-4 fs__0_8_rem')
            - function addLeadingZero(n){return n<10? '0'+n:''+n;}
            span Creation date: 
            span(class='font-weight-bold') #{addLeadingZero(item.creationDate.getUTCDate())}.#{addLeadingZero(item.creationDate.getUTCMonth()+1)}.#{item.creationDate.getUTCFullYear()}
            br
            span Creation time: 
            span(class='font-weight-bold') #{addLeadingZero(item.creationDate.getUTCHours())}:#{addLeadingZero(item.creationDate.getMinutes())}:#{addLeadingZero(item.creationDate.getSeconds())}
            br
            span Current Editor: 
            span(class='font-weight-bold') #{item.editUser}
        
        div(class='col-md-4 fs__0_8_rem')   
            if (item.editDate)
                span Edit date: 
                span(class='font-weight-bold') #{addLeadingZero(item.editDate.getUTCDate())}.#{addLeadingZero(item.editDate.getUTCMonth()+1)}.#{item.editDate.getUTCFullYear()}
                br
                span Edit time: 
                span(class='font-weight-bold') #{addLeadingZero(item.editDate.getUTCHours())}:#{addLeadingZero(item.editDate.getMinutes())}:#{addLeadingZero(item.editDate.getSeconds())}
                br
            span(class='font-weight-bold') TargetURL: 
            a(href=item.targetUrl target='_blank')= item.targetUrl
            br
            span(class='font-weight-bold') BacklinkOriginURL: 
            a(href=item.backlinkOriginUrl target='_blank')= item.backlinkOriginUrl
        
        div(class='col-md-4 fs__0_8_rem')
            if (item.submissionDate)
                span Submission date: 
                span(class='font-weight-bold') #{addLeadingZero(item.submissionDate.getUTCDate())}.#{addLeadingZero(item.submissionDate.getUTCMonth()+1)}.#{item.submissionDate.getUTCFullYear()}
                br
                span Submission time: 
                span(class='font-weight-bold') #{addLeadingZero(item.submissionDate.getUTCHours())}:#{addLeadingZero(item.submissionDate.getMinutes())}:#{addLeadingZero(item.submissionDate.getSeconds())}
                br
            if (item.submissionUser)
                span Submitter: 
                span(class='font-weight-bold') #{item.submissionUser}
                br

            if (item.status=='submitted')
                a(href='/admin/process-items/validate/' + item._id class='btn btn-primary-white mr-2 my-1')
                    i(class='fas fa-diagnoses')
                    span  validate
                a(href='/admin/process-items/verify/' + item._id class='btn btn-primary-white mr-2 my-1')
                    i(class='fas fa-check fa-1x')
                    span  verify
                a(href='/admin/process-items/reject/' + item._id class='btn btn-primary-white mr-2 my-1')
                    i(class='fas fa-times fa-1x')
                    span  reject
            
            a(href='/admin/process-items/delete/' + item._id class='btn btn-primary-white mr-2 my-1')
                i(class='fas fa-trash fa-1x')
                span  delete @TBD